p, h2 {
  margin: 0;
}

button{
 margin-left: 100px;
  margin-top: 10px;
  background-color: #a7a7fe; /* color oscuro */
  border-radius: 10px; 
  box-shadow: 2px 2px 5px #000000; 
  font-weight: auto;
  font-size: 1.2em; 
  padding: 10px 20px; 
}


